@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --title-font: Pacifico, cursive;
  --text-font: Poppins, sans-serif;
  --text-color: #d7d7d7;
  --app-color-1: #071e22;
  --app-color-2: #09262c;
  --app-color-3: #0b3137;
  --app-color-4: #f4c095;
}

.app {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: var(--app-color-1);
  padding: 16px 200px 32px;
}