.friends-container{
    font-family: var(--text-font);
    background-color: var(--app-color-3);
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 8px;
}

.friends-container h3{
    padding-left: 32px;
    margin: 20px auto 12px;
    font-size: 24px;
    font-weight: 560;
}

.friend-card{
    display: flex;
    align-items: center;
    padding: 8px 0px 8px 32px;
    cursor: pointer;
    margin: 0;
}

.friend-card img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 12px;
}

.divider{
    height: 0.6px;
    width: 80%;
    background-color: black;
    display: flex;
    margin: auto;
}

.friend-card-container:hover {
    opacity: 0.5;
}