.title{
    width: 100%;
    height: 90px;
    background-color: var(--app-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--title-font);
    font-size: 45px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}