.profile-page {
    background-color: var(--app-color-4);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    margin: auto;
}

.profile h3 {
    text-align: center;
    font-family: var(--text-font);
    font-size: 50px;
    font-weight: 300;
    margin-top: 20px;
}

.logout-button {
    width: 150px;
    height: 30px;
    cursor: pointer;
}